body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

#stato-connessione {
    padding: 20px;
    border-radius: 5px;
    font-size: 1.5em;
}

.online {
    background-color: #d4edda;
    color: #155724;
}

.offline {
    background-color: #f8d7da;
    color: #721c24;
}